@page "/copydetail"



<div class="container">
    <div class="cardMovie" style="border: none">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">

                    <div class="preview-pic tab-content">

                        <div class="tab-pane active" id="pic-1">
                            <iframe width="420" height="315" src="https://www.youtube.com/watch?v=EXeTwQWrcwY"></iframe>
                        </div>
                    </div>

                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">Batman</h3>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span>8.10</span>

                        </div>
                    </div>
                    <p class="product-description">Gotham's new District Attorney has been elected. His name is Harvey Dent, and he has a radical new agenda that threatens to take down Gotham's organized crime underworld once and for all with an iron fist. But the emergence of the rogue vigilante known as Batman has caused problems for Dent and his agenda. A new criminal mastermind known only as "The Joker" has arrived and aims to take Gotham out from under Harvey Dent's iron fist. The Joker stages a masterfully planned bank robbery and robs the Gotham mob blind. He uses this money to stage a series of horrific and strategic attacks against the city and its people, each one carefully planned and aimed at Dent and Batman, while causing the rest of the city to enter panic mode. Meanwhile, Batman thinks he might have found a lead to The Joker thanks to Wayne Enterprises' dealings with a shady Chinese banker, and that takes Batman and Alfred to Hong Kong. The Joker has no rules, but Batman has only one, and the Joker aims to make Batman break his only rule. But who will be the one to take him out, will it be rogue vigilante Batman, or will it be elected official Harvey Dent, the new hero with a face?</p>
                </div>
            </div>
        </div>

    </div>

    <div class="row mt-50 mb-100">
        <div class="container mt-5 mb-5">
            <div class="d-flex justify-content-center row">
                <div class="d-flex flex-column col-md-8">
                    @if (movieComments != null)
                    {

                        @foreach (var item in movieComments)
                        {
                            <div class="d-flex flex-row align-items-center text-left comment-top p-2 bg-white border-bottom px-4">
                                <div class="profile-image"><img class="rounded-circle" src="https://i.imgur.com/t9toMAQ.jpg" width="70"></div>
                                <div class="d-flex flex-column-reverse flex-grow-0 align-items-center votings ml-1"><i class="fa fa-sort-up fa-2x hit-voting"></i><i class="fa fa-sort-down fa-2x hit-voting"></i></div>
                                <div class="d-flex flex-column ml-3">
                                    <div class="d-flex flex-row post-title ml-10">
                                        <h5>Is sketch 3.9.1 stable?</h5>
                                        <span class="ml-2">(Jesshead)</span>
                                    </div>
                                    <div class="d-flex flex-row align-items-center align-content-center post-title ml-10">
                                        <span>6 hours ago</span>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    <AuthorizeView>
                        <Authorized>

                            <div class="coment-bottom bg-white p-2 px-4">
                                <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                                    <img class="img-fluid img-responsive rounded-circle mr-2" src="https://i.imgur.com/qdiP4DB.jpg" width="38">
                                    <input type="text" class="form-control mr-3" placeholder="Add comment">
                                    <button class="btn btn-primary ml-10" type="button">Comment</button>

                                </div>

                            </div>

                        </Authorized>
                        <NotAuthorized>
                            <NavLink class="nav-link" href="signin">
                                <h3>Please sign in to post a comment</h3>
                            </NavLink>
                        </NotAuthorized>
                    </AuthorizeView>

                </div>
            </div>
        </div>

    </div>


</div>





@code {

    [Inject] HttpClient httpClient { get; set; }
    [Inject] IMovieService movieService { get; set; }

    public List<MovieComment> movieComments { get; set; }

    public string Description { get; set; } = string.Empty;


    protected override async Task OnInitializedAsync()

    {

        movieComments = (await movieService.GetMovieComments(1)).ToList();

    }

}