@inherits LayoutComponentBase

@if (isLoaded)
{
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
}


else
{
    <div id="loader">

        <Loader />

    </div>
}






@code
{
    bool isLoaded;
    protected override async Task OnInitializedAsync()
    {

        await Task.Delay(1000);
        isLoaded = true;


      
    }


}